nav{
    top: 0%;
    width: 100%;
    height:90px;
    background:rgba(0,0,0,0.6);
    border-top: 1px solid rgba(255,255,255,0.2);
    border-bottom: 1px solid rgba(255,255,255,0.2);
    position:sticky;
    top:10px;
}

section.two a{
  color: greenyellow;
}

.nav-b{
  height:34px;
  width:44px;
  background-color: #fff;
  border-radius: 4px;
  cursor:pointer;
  float:right;
  display:none;
}
.nav-b:focus{
  outline: none;
  box-shadow: 0 0 15px rgba(255,255,255,0.5);
}
.nav-b span{
  height:2px;
  width: 20px;
  display: block;
  margin:auto;
  background-color:#2f3240;
  position: relative;
}

.nav-b span::before,
.nav-b span::after{
content:'';
position:absolute;
left:0;
top:0;
width: 100%;
height:100%;
background-color: #2f3240;

}

.nav-b span::before{
  transform: translateY(-6px);
}
.nav-b span::after{
  transform: translateY(6px);
}

@media only screen and (max-width:880px){
  .nav-b{
    display:block;
    margin-top: 20px;
    margin-right: 10%;
  }
  lable.logo{
    color:#fff;
    font-size: 20px;
    line-height: 40px;  
    padding:0 30px;
  }
  


  .navbar ul li{
    list-style: none;
    display: block;
    padding-top: 10px;
    margin:0;
    
  }
  .navbar ul{
    background-color:rgba(0,0,0,0.6);
    padding: 12px 15px 0;
    visibility: hidden;
    margin-top:20px;
    border-top: 1px solid rgba(255,255,255,0.2);
  }
  .navbar ul.open{
    visibility:visible;
  }

  .navbar{
    width:100%;
  }
  .b1,.b2,.b3 
  .b4{
    text-transform: uppercase;
    background: none;
    border: none;
    padding: 0!important;
    color: white;
    line-height: 10px;
    cursor: pointer;
    font-size:18px ;
  }
  
    nav ul li button:active {
      border-bottom: 3px solid red;
    }
    button:focus{
      border-bottom: 3px solid red;
  }

  .navbar ul li button:hover {
    border-bottom: 3px solid white;
      transition: all .2s ease;
   }

}

#txt{
  color:white;
}


 @media only screen and (min-width:880px){
.navbar ul li{
  list-style: none;
  display: inline-block;
  padding-left: 20px;
}

lable.logo{
  color:#fff;
  font-size: 25px;
  line-height: 60px;  
  padding:0 50px;
}




.navbar ul{
  display:flex;
  margin-top: 30px;
  padding: 10px 80px;
  margin-right: 20px;;
  float:right;
 }




 .b1,.b2,.b3 
 .b4{
   text-transform: uppercase;
   background: none;
   border: none;
   padding: 0!important;
   color: white;
   line-height: 10px;
   cursor: pointer;
   font-size:18px ;
 }
 
   nav ul li button:active {
     border-bottom: 3px solid red;
   }
   button:focus{
     border-bottom: 3px solid red;
 }
 .navbar ul li button:hover {
  border-bottom: 3px solid white;
    transition: all .2s ease;
 }
}

.poiu{
  position:relative;
  margin-left: 30px;
}





@media only screen and (max-width:800px){
  .front_img {
    width: 150px;
    height: 150px; 
    background-image: url(img1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 50%;
  }

  .nme{
      padding-left: 5%; 

  }
  .img_cont{
    padding-top: 20px;
    padding-left: 12%;
  }

  #myInfo{
    padding-top: 15px;
    margin-right:3%;
  }

  .nme ul{
    display: flex;
    padding-left: 10%;
    
  }
  .nme ul li{
    list-style: none;
    padding-top: 20px;
    padding-right: 10%;
  } 

  .nme a{
    text-decoration: none;
    font-style: italic;
    color:lawngreen;
  }
  .nme h3{
    font-family:cursive;
  }
  #nme{
    font-family:'Times New Roman';
    margin-left: 20px;
  }
  #clg{
    font-family: "Courier New";
  }
}



@media only screen and (min-width:800px){
.front_img {
    width: 200px;
    height: 200px; 
    background-image: url(img1.jpg);
    
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 50%;
  }
  .nme{
    text-align: left;  
}
  .img_cont{
    padding-top: 50px;
    padding-left: 40px;
  }
  #myInfo{
    padding-top: 20px;
    
  }
  .nme ul{
    display: flex;
    padding-top: 10px;
    float: left;
    
  }
  
  .nme ul li{
    list-style: none;
    display: flex;
    padding-top: 20px;
    padding-right: 20%;
  }
  .nme a{
    text-decoration: none;
    font-style: italic;
    color:lawngreen;
  }
  
  .nme h3{
    margin-top: 10%;
    margin-left: 20%;
    font-family:cursive;
  }

  #nme{
  
    font-family:'Times New Roman';
    font-size: 35px;
  }
  #clg{
    font-family: "Courier New";
    font-size: 20px;
    padding-left: 10px;
     
  }
  
  
}




@media only screen and (min-width:802px){
  .tag1{
    float:left;
    margin-bottom: 300px;
    margin-left: 10%;
    width: 440px;
    margin-right: 1%; 
  } 
  section.two{
    width: 100%;
    color: #fff;
    font-size: 1.2em;
    box-sizing: border-box;
  }
  .container{
    padding-top: 100px;
  }

}

.tag1{
  
  width: 440px;
  float:left;
  margin-bottom: 100px;
  margin-right: 1%;
  margin-left: 40px;
}

div{
  display:block;
}
#first_heading{
  font-family: 'Koh Santepheap', cursive;
}
.details{
  width:100%;
  
  position: relative;
  
}
.mydetails{
  margin-right: auto;
}
.details a{
  color:blanchedalmond;
  font-style: oblique;
}
@media only screen and (max-width:802px){
section.two{
  width: 100%;
  color: #fff;
  font-size: 15px;
  box-sizing: border-box;
 }
}
#top{
  background:#000;
}

@media only screen and (min-width:800px){

section.one{
  max-width: 100%;
  height: 570px;
  background-size: 100% 100%;
  background-image: url(w3.jpg);
  background-size:cover;
  box-sizing: border-box;
  background-repeat: no-repeat;

 }
 .frm{
  width:420px; 
  height:345px;
 }
}

@media only screen and (max-width:800px){

  section.one{
    max-width: 100%;
    height: 200px;
    background-size: 100% 100%;
    background-image: url(w3.jpg);
    background-size:contain;
    box-sizing: border-box;
    background-repeat: no-repeat;
  
  }
  .frm{
    width:270px; 
    height:245px;
   }
  }


@media only screen and (min-width:800px){
  .table-content{
    color:white;
    margin-top: 40px;
    margin-left:15%;
    margin-right: 15%;
    font-size: 40px;
    align-items: center;
    min-width: 800px;
  }
  #tr2{
    font-size: 40px;
    background-color: green ;
    
  }
  section.three h1{
    color: white;
    text-align: center;
    margin-top: 20%;
    font-family: 'Reenie Beanie', cursive;
    font-size:90px;
  }
  
}

@media only screen and (max-width:800px){
.table-content{
  color:white;
  margin-top: 20px;
  margin-right: 5%;
  margin-left:5%;
  font-size: 20px;
  align-items: center;
  min-width: 800px;
}
#tr2{
  font-size: 20px;
  background-color: green ;
  
}
section.three h1{
  color: white;
  text-align: center;
  font-family: 'Reenie Beanie', cursive;
  font-size:60px;
}
}



#tr1{
  background-color: red;
  color: black;
}

th,
td{
  padding: 12px 15px
}
.table-content tbody tr{
  border-bottom: 1px solid blue;
}

.Tablediv{
  overflow-x:auto;
}

@media only screen and (min-width:800px){
section.four h1{
  color: white; 
  font-family: 'Reenie Beanie', cursive;
  font-size:100px;
  text-align: center;
}

section.four h2{
  text-align: left;
  color: aqua;
  font-size: 50px;
  
}

section.four{
  padding-top: 100px;
  color: #fff;
}

  .SVA,
  .ER{
    width:100%;
    margin-top: 60px;
    text-align: justify;
    float:right;
    font-size: 20px;
    margin-bottom: 100px;
  }
 .vdo{
  margin-left: 30%;
}



section.five h1{
  color: white; 
  font-family: 'Reenie Beanie', cursive;
  font-size:100px;
  text-align: center;
}

section.five h2{
  text-align: left;
  color: aqua;
  font-size: 50px;
  
}

section.five{
  padding-top: 50px;
  color: #fff;
}

.awards{
  width:100%;
  margin-top: 60px;
  text-align: justify;
  float:right;
  font-size: 20px;
  margin-bottom: 100px;
}


.aw1{
  float:left;
  margin-left: 15%;
  margin-right: 25%;
}



}

@media only screen and (max-width:800px){
  section.four h1{
    color: white; 
    font-family: 'Reenie Beanie', cursive;
    font-size:70px;
    text-align: center;
  }
  
  section.four h2{
    text-align: left;
    color: aqua;
    font-size: 30px;
    
  }
  
  section.four{
    padding-top: 80px;
    color: #fff;
  }
  
  .SVA,
  .ER{
    width:100%;
    text-align: justify;
    margin-top: 40px;
    float:right;
    font-size: 15px;
    margin-bottom: 80px;
   }
   .vdo{
    margin-left: 5%;
  }



  section.five h1{
    color: white; 
    font-family: 'Reenie Beanie', cursive;
    font-size:70px;
    text-align: center;
  }
  
  section.five h2{
    text-align: left;
    color: aqua;
    font-size: 30px;
    
  }
  
  section.five{
    padding-top: 50px;
    color: #fff;
  }
  
  .awards{
    width:100%;
    text-align: justify;
    margin-top: 40px;
    float:right;
    font-size: 15px;
    margin-bottom: 80px;
   }

   .aw1{
     margin-left: 30px;
     margin-bottom: 20px;
     
  }
  .aw2{
    margin-left: 30px;
     margin-bottom: 20px;
  }
 
}